{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Decision Sciences & Analytics Dashboard</h3>
   {% comment %} <button type="button" class="btn btn-primary">Add a meeting</button> {% endcomment %}
   <br>
   <a class="btn btn-primary" href="/addmeet" role="button">Add a Meeting</a>
   <br>
   <br>
   <br>
   <a class="btn btn-primary" href="/listmeet" role="button">Lists of Meeting</a>
  </div>
 </div>
</div>
{% endblock body %}