{% extends 'base.html' %}
{% load static %}
{% block title %}List of Meetings{% endblock title %}
{% block body %}

<div class="container py-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for i in s %}
       
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1200x700/?boy" class="d-block w-100" alt="...">
    
                <div class="card-body">
                    <p class="card-text">Meeting id-{{ i.id}}</p>  
                  <p class="card-text">Starting Time-{{ i.starting_time}}</p>
                  <p class="card-text">Ending Time-{{ i.ending_time}}</p>
                  <p class="card-url">Meeting Link-{{ i.meeting_link}}</p>
                  <p class="card-text">Description-{{ i.description}}</p>
                  
                 
                <div class="button">
                   <a href="delete/{{i.id}}/" <button class="btn btn-danger" type="submit" >Delete Meeting</button></a>
    
                   <a href="edit/{{i.id}}/" <button class="btn btn-dark" type="submit" >Edit Meeting</button></a>
                </div>
                </div>
              </div>
            </div>
            
        
    {% endfor %}
    </div>
{% endblock body %}