.container {
  height: 90vh;
  overflow: scroll;
  text-align: center;
  font-size: 48px;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.catHead {
  margin-bottom: 5px;
}

.line {
  background-color: black;
  height: 4px;
  margin: auto;
  width: 90vw;
  border-radius: 100%;
}

.itemCon {
  margin: auto;
  margin-top: 5px;
  width: 90vw;
  height: auto;
  border: 2px;
  border-color: black;
  margin-left: 7.5vw;
  margin-bottom: 20px;
}
.item {
  background-color: #ddf8f4;
  border-radius: 20px;
  margin-left: 20px;
  height: 220px;
  width: 190px;
  margin-bottom: 20px;
  text-decoration: none;
  float: left;
  cursor: pointer;
}
.itemImg {
  margin: auto;
  margin-top: 10px;
  height: 120px;
  width: 120px;
  border-radius: 20px 0px 20px 0px;
  object-fit: cover;
}
.itemName {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  font-weight: Bold;
  font-family: "Patua One";
  color: #301b3f;
  display: "flex";
  justify-content: center;
  align-items: flex-start;
  width: 190px;
  height: 50px;
}

.plus {
  margin: auto;
  margin-top: 25px;
  padding-top: 0px;
  font-size: 150px;
  color: #301b3f;
}

.icons {
  font-size: 20px;
  color: #301b3f;
  cursor: pointer;
}
