.container {
  height: 90vh;
  overflow: scroll;
  text-align: center;
  font-size: 48px;
}
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.catHead {
  margin-bottom: 5px;
}

.line {
  background-color: black;
  height: 4px;
  margin: auto;
  width: 90vw;
  border-radius: 100%;
}
.itemCon {
  margin: auto;
  margin-top: 5px;
  width: auto;
  height: auto;
  border: 2px;
  border-color: black;
  display: float;
}
.item {
  background-color: #e8f6ef;
  border-radius: 20px;
  margin-left: 10px;
  height: 150px;
  width: 130px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
}
.itemImg {
  margin: auto;
  margin-top: 10px;
  height: 70px;
  width: 100px;
  border-radius: 20px 0px 20px 0px;
}
.itemName {
  margin: 0px;
  margin-top: 0px;
  font-size: 25px;
  font-weight: Bold;
  color: #4c4c6d;
  text-decoration: overline;
  text-decoration-color: black;
}
.plusCon {
  background-color: #e8f6ef;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 130px;
  display: inline-block;
}
.plus {
  margin: auto;
  margin-top: 10px;
  height: 70px;
  width: 100px;
  border-radius: 100%;
}
