.container {
  height: 90vh;
  overflow: scroll;
  text-align: center;
  font-size: 48px;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.search {
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  background-color: #e8f6ef;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Patua One";
}

.line {
  background-color: black;
  height: 4px;
  margin: auto;
  width: 90vw;
  border-radius: 100%;
  margin-bottom: 20px;
}

.Head {
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  margin-left: 4.5vw;
  font-family: "PATUA ONE";
}

.itemCon {
  margin: auto;
  margin-top: 5px;
  width: 90vw;
  height: auto;
  border: 2px;
  border-color: black;
  margin-bottom: 20px;
  justify-content: center;
}

.item {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #ddf8f4;
  width: 28vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  float: left;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.name {
  margin: 0px;
  margin-left: 5px;
  font-size: 40px;
  font-family: "Patua One";
  color: #301b3f;
}

.username {
  margin: 0px;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 30px;
  font-family: "Patua One";
  color: #301b3f;
}

.icon {
  font-size: 20px;
  color: #301b3f;
  cursor: pointer;
  display: flex;
  margin: 0px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}
